$theme-colors: (
  "body-color": #00d4ff,
  "main-color": #00ff77,
);

@import "../node_modules/bootstrap/scss/bootstrap";
body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 202, 255, 1) 100%
  );
}
